.ok {
    padding: 15px 30px;
    color: #25252c;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background-color: transparent;
    border: #7fffd4 2px solid;
}

.reden,
.ormax {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
    background: transparent url(../img/orel.png) center /cover;
    filter: drop-shadow( 0 0 5px rgba( 0,0,0,0.5)) grayscale(80%);
    transition: all 0.5s ease;
}

.reden {
    background: transparent url(../img/reshka.png) center /cover;
}

.reden:hover,
.ormax:hover {
    filter: drop-shadow( 0 0 5px rgba( 255,215,0,0.5)) grayscale(0%);
    transform: scale(1.1);
}